!!!
%html
  %head
    %title Komplett Developer Conference
    = haml :"templates/header_imports"
    -green = '#1f1949'
    -purple = '#f7b912'
  %body
    = haml :"templates/nav"
    .container
      Welcome to Komplett Developer Conference 2015 Fall Edition. Look, a three-headed monkey!
      %a{:href => "/track/Thursday", :class => "no-underline"}
        %div{:class => "col-lg-12 big-btn", :style => "background: #{green}; color: #{purple};"}
          Thursday
      %a{:href => "/track/Friday", :class => "no-underline"}
        %div{:class => "col-lg-12 big-btn", :style => "background: #{purple}; color: #{green};"}
          Friday
    /
      %br
      %a{:href => "/cfp", :class => "no-underline"}
        %div{:class => "col-lg-12 big-btn", :style => "background: #{purple}; color: #{green};"}
          Call for Papers
      %a{:href => "/cfp/suggestions", :class => "no-underline"}
        %div{:class => "col-lg-12 big-btn", :style => "background: #{green}; color: #{purple};"}
          See suggestions
